<h4>Dear {{name}},</h4>

Here is the invoice for your recent stay at PAF.<br>
@if(transfer)
For the bank transfer, please use the invoice number <b>{{invoice_nr}}</b> as payment reference.<br>
Please pay within 30 days.<br>
<br>
@end
Thank you very much and see you soon again!<br>
<br>
Love,<br>
PAF<br>
<br>
<br>
